@model Examen.Models.Data.PaginadorGenerico<Examen.Models.Models.Empleado>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Organizacion.css" rel="stylesheet" />
<div class="just-padding">

    <div class="list-group list-group-root well" id="seccion_area">

        
    </div>

</div>
@section Scripts{
    <script src="~/js/Organizacion.js"></script>
}